services:
  mongodb:
    volumes:
      - ./backend/mongo-data-dev:/data/db
    ports:
      - 127.0.0.1:27017:27017

  pwndoc-backend:
    image: pwndoc/backend:dev
    build:
      context: ./backend/
      dockerfile: Dockerfile.dev
    volumes:
      - ./backend/src:/app/src
      - ./backend/ssl:/app/ssl
      - ./backend/report-templates:/app/report-templates
      - ./backend/backup:/app/backup
    ports:
      - 4242:4242

  pwndoc-frontend:
    image: pwndoc/frontend:dev
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/ssl:/app/ssl
      - ./frontend/public:/app/public
      - ./frontend/index.html:/app/index.html
      - ./frontend/jsconfig.json:/app/jsconfig.json
      - ./frontend/postcss.config.js:/app/postcss.config.js
      - ./frontend/babel.config.js:/app/babel.config.js
      - ./frontend/quasar.config.js:/app/quasar.config.js
      - ./frontend/package.json:/app/package.json
      - ./frontend/package-lock.json:/app/package-lock.json
    ports:
      - 8081:8081

  pwndoc-languagetools:
    image: pwndoc/languagetools:dev
    ports:
      - 8010:8010
      - 8020:8020

  pwndoc-frontend-nginx:
    image: nginx:stable-alpine
    user: root
    volumes:
      - ./frontend/.docker/nginx/nginx.dev.conf:/etc/nginx/conf.d/default.conf
      - ./frontend/ssl:/etc/nginx/ssl/
      - ./frontend/.docker/nginx/snippets:/etc/nginx/snippets
    restart: always
    ports:
      - 18443:8443
    depends_on:
      - pwndoc-frontend
    networks:
      - frontend-internal
